<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/home" class="menu-text">GESTIÓN</a>
    </div>
    <span class="spacer"></span>
    <span class="logo-text">asistir</span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <img class="icon-toolbar" src="./assets/logo1-iso.png" alt="">
      </button>
  </mat-toolbar>