<div class="main-div col-12">
    <div class="row">
        <!-- <div class="col-12 col-md-3">
            <img src="../../../assets/asist-hor-der.png" alt="logo-iso">
        </div> -->
        <div class="col-12 col-md-9 offset-md-3 txt-center">
            <h1 class="">¡Bienvenido!</h1>
        </div>
    </div><!--
    <div class="container" *ngIf="adminLoged">
      <div class="row">
        <div class="col-12 col-md-4">
            <mat-card id="card-report-benefits" class="card-report">
            <mat-card-title>Prestaciones activas
                <span class="spacer"></span>
                <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon" routerLink="/prestaciones">
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </mat-card-title>
            <mat-card-subtitle>12</mat-card-subtitle>
            <img src="./../../../assets/graph.svg" alt=""></mat-card>
        </div>
        <div class="col-12 col-md-4">
            <mat-card id="card-report-patients" class="card-report">
            <mat-card-title>Pacientes activos
                <span class="spacer"></span>
                <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon" routerLink="/pacientes">
                    <mat-icon>arrow_forward</mat-icon>
                  </button>
            </mat-card-title>
            <mat-card-subtitle>12</mat-card-subtitle>
            <mat-card-content>
                <img src="./../../../assets/graph.svg" alt="">
            </mat-card-content>
        </mat-card>
        </div>
        <div class="col-12 col-md-4">
            <mat-card id="card-report-checkups" class="card-report">
            <mat-card-title>Visitas realizadas hoy
                <span class="spacer"></span>
                <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon" routerLink="/visitas">
                    <mat-icon>arrow_forward</mat-icon>
                  </button>
            </mat-card-title>
            <mat-card-subtitle>10/12</mat-card-subtitle>
            <mat-card-content><img src="./../../../assets/graph.svg" alt=""></mat-card-content>

        </mat-card>
      </div>
        </div>
    </div> -->

</div>
