#date_start_at{
    margin-right: 5%;
}

h3{
    margin: 0 4% 0 0;
}

.page-header-title{
  display: inline-block;
  vertical-align: sub;
}

.requirements-select{
    margin: 0 4% 0 0;
}
.requirements-form{
    width: 70%;

}

.example-full-width{
    width: 80%;
    margin: 0 4% 4% 0;
}

.mat-bottom-sheet-container{
    width: 80%;
}

.button-row{
    padding:0;
    height: 48px;
    width: 48px;
}

.icon-button-row{
    margin-left: 25%;
}
