#selectBenefitCheckup{
    width: 100%;        
}

textarea{
    background-color: rgba(0,0,0,.04);
    padding-left: 2%;
    max-width: 100%;
    padding-right: 2%;
    width: -webkit-fill-available;
    height: 100px;    
}

.row-mat-action{
    margin-top: 10%;
}
.mat-action-row{
    margin-left: 30%;    
}